@import "../../style/global.css";

.figaro-job-count-banner {
  margin: 15px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.figaro-job-count {
  flex: 0 1 10em;
  text-align: center;
  padding: 20px 0px 20px 0px;
  margin: 10px 5px 10px 5px;
  border-radius: 5px;
}

.job-count {
  color: #ffff;
  cursor: pointer;
}

.job-count:hover {
  transition: all 0.2s;
}

.job-count.total {
  color: var(--light-theme-color);
}
.job-count.completed {
  background-color: var(--base-color);
}
.job-count.completed:hover {
  background-color: var(--base-color-hover);
}
.job-count.started {
  background-color: var(--success-color);
}
.job-count.started:hover {
  background-color: var(--success-color-hover);
}
.job-count.queued {
  background-color: var(--queued-color);
}
.job-count.queued:hover {
  background-color: var(--queued-color-hover);
}
.job-count.failed {
  background-color: var(--fail-color);
}
.job-count.failed:hover {
  background-color: var(--fail-color-hover);
}
.job-count.revoked {
  background-color: var(--warning-color);
}
.job-count.revoked:hover {
  background-color: var(--warning-color-hover);
}
.job-count.deduped {
  background-color: var(--deduped-color);
}
.job-count.deduped:hover {
  background-color: var(--deduped-color-hover);
}
.job-count.offline {
  background-color: var(--offline-color);
}
.job-count.offline:hover {
  background-color: var(--offline-color-hover);
}

.__theme-dark .figaro-job-count {
  color: var(--dark-theme-color);
}

.__theme-light .job-count.total {
  background-color: var(--light-theme-alt);
}
