.params-textarea-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.params-textarea {
  flex: 1;
  resize: vertical;
  outline: none;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  min-height: 38px;
  outline: 0 !important;
  font-size: 15px;
  padding: 10px;
  min-height: 100px;
}

.params-textarea-label {
  min-width: 73px;
  padding-right: 20px;
  vertical-align: top;
}

.params-textarea.required {
  border: 2px solid red;
}

.params-label {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  min-width: 65px;
}

.params-dropdown-wrapper {
  flex: 1;
  margin-bottom: 20px;
}

.params-input-wrapper {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.params-input {
  flex: 1;
  box-sizing: border-box;
  margin-left: 2px;
  margin-right: 2px;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  min-height: 38px;
  outline: 0 !important;
  font-size: 15px;
  padding-left: 10px;
  width: 100%;
  display: table-cell;
}

input.params-input:invalid {
  border: 2px solid red;
}

.params-input-label {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  min-width: 73px;
}
