@import "../../style/global.css";

.tosca-data-viewer {
  border: 1px solid black;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid var(--light-theme-title);
}

.tosca-data-viewer a.tosca-id-link {
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.tosca-data-viewer a.tosca-id-link:hover {
  text-decoration: none;
}

.tosca-data-viewer a.tosca-metadata-link {
  padding: 0px 7px;
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.tosca-data-viewer a.tosca-metadata-link:hover {
  text-decoration: none;
}

.tosca-data-viewer a.tosca-browse-link {
  padding-right: 7px;
}

.tosca-data-viewer .tosca-metadata-preview {
  overflow: scroll;
  font-size: 11px;
  padding: 10px;
}

.__theme-dark .tosca-data-viewer {
  border-color: var(--dark-theme-light);
  background-color: var(--dark-theme-alt);
  color: var(--dark-theme-color);
  border: 1px solid var(--dark-theme-light);
}

.__theme-dark .tosca-metadata-preview {
  background-color: var(--dark-theme-alt) !important;
}

.__theme-dark a.tosca-metadata-link:visited {
  color: var(--dark-theme-color);
}

.__theme-light a.tosca-metadata-link:visited {
  color: #551a8b;
}
