:root {
  --dark-theme-background: #15202a;
  --dark-theme-alt: #182734;
  --dark-theme-light: #243341;
  --dark-theme-color: #ffff;
  --dark-theme-border: #303030;
  --dark-theme-title: #ffff;
  --dark-theme-editor: #131313;

  --light-theme-background: #ffff;
  --light-theme-alt: #eeeeee;
  --light-theme-color: #424242;
  --light-theme-border: #303030;
  --light-theme-title: #9b9b9b;

  --base-color: #4387ff;
  --base-color-hover: #0059f5;
  --success-color: #5cb85c;
  --success-color-hover: #3d8b3d;
  --fail-color: #dc3545;
  --fail-color-hover: #a71d2a;
  --warning-color: #ffc107;
  --warning-color-hover: #b98b00;

  --main-theme-color: #4288ff;
  --queued-color: #49afcd;
  --queued-color-hover: #2b849e;
  --deduped-color: #dd33ff;
  --deduped-color-hover: #bf00e6;
  --offline-color: #363636;
  --offline-color-hover: #101010;

  --link-color: #0000ee;
}

:export {
  darkthemebg: #15202a;
}
