@import "../../style/global.css";

.figaro-data-component {
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid var(--light-theme-title);
  word-break: break-all;
}

.figaro-code-format {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  white-space: pre-line;
  padding: 5px 0px 10px 0px;
}

a.figaro-id-link {
  font-size: 16px !important;
}

a.figaro-data-view-link {
  cursor: pointer;
  text-decoration: underline;
}

a.figaro-job-info-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--link-color);
  padding: 0 7px;
}

a:hover {
  text-decoration: none;
}

.__theme-dark .figaro-data-component {
  background-color: var(--dark-theme-alt);
  color: var(--dark-theme-color);
  border: 1px solid var(--dark-theme-light);
}
