/* Border */
.job-param-border {
  border: 1px solid #000000b0;
  margin-top: 35px;
  margin-bottom: 35px;
}

/* Status Bar */
.job-submit-status-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #ffffff;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.job-submit-status-bar-label {
  font-size: 35px;
}

.job-submit-status-bar-sublabel {
  font-size: 17px;
}

.success {
  background: #19b519;
}

.failed {
  background: red;
}

.status-hidden {
  opacity: 0;
  transition: all 400ms linear;
  z-index: -999;
}

.status-visible {
  z-index: 999;
}

.helper-link {
  width: 21px;
  height: 21px;
  font-size: 8px;
  text-align: center;
  padding: 5px;
  border: 1px solid #4387ff;
  color: #4386ff;
  border-radius: 50%;
  margin-right: 10px;
}

.miscellaneous-checkbox {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
}

.last-updated-banner {
  padding: 10px 0 0 0;
  text-align: right;
}

.__theme-dark .last-updated-banner {
  color: white;
}
