@import "../../style/global.css";

.ReactTable {
  font-size: 13px;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  border-bottom: 1px solid #e5e5e5;
}

.ReactTable .rt-tbody .rt-td {
  padding: 10px;
}

.__theme-dark .ReactTable {
  background-color: var(--dark-theme-alt);
  color: var(--dark-theme-color);
}
