@import "../../style/global.css";

body {
  font-family: "Oswald", sans-serif !important;
}

.figaro-user-rule-editor-page {
  min-width: 650px;
}

.figaro-user-rule-editor {
  display: flex;
  height: calc(100vh - 44px);
}

/* Control the left side */
.user-rule-editor-left {
  flex: 1;
  overflow: auto;
}

/* Control the right side */
.user-rule-editor-right {
  flex: 1;
  overflow: auto;
  padding: 10px 20px;
}

.user-rule-editor-right-wrapper {
  padding: 10px;
}

.user-rule-buttons-wrapper {
  padding: 5px;
  display: flex;
}

.user-rule-button {
  margin: 5px;
}

@media (max-width: 950px) {
  .figaro-user-rule-editor {
    display: block;
    overflow: auto;
  }

  .user-rule-editor-right-wrapper {
    padding: 25px;
  }
}

.__theme-dark .rule-editor-select-wrapper {
  color: black;
}

.__theme-dark .rule-editor-select-wrapper label {
  color: var(--dark-theme-color);
}

.__theme-dark section {
  color: black;
}

.__theme-dark label {
  color: var(--dark-theme-color);
}

.__theme-dark hr {
  border-color: var(--dark-theme-color);
}
