.dropdown-input-wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-label {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  min-width: 65px;
}

.dropdown-dropdown-wrapper {
  flex: 1;
}

.dropdown-label {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  min-width: 65px;
}

.dropdown-select-wrapper {
  flex: 1;
}
