@import "../../style/global.css";

.leaflet-map {
  height: inherit;
  margin: 0 auto;
  margin-bottom: 5px;
}

.leaflet-map-container {
  padding: 0px 35px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.map-handler {
  margin: 0 auto;
  height: 1px;
  cursor: ns-resize;
  z-index: 100;
}

.map-handler::after {
  content: "";
  display: block;
  height: 10px;
  z-index: 101;
}

.map-handler:hover::after {
  background-color: var(--light-theme-title);
  transition: background-color 0.2s ease-out;
}

.map-handler:active::after {
  background-color: var(--light-theme-title);
}

.map-coordinates-textbox {
  min-width: 93%;
  max-width: 93%;
  min-height: 90px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 0.85em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
}

.map-coordinates-textbox:focus {
  outline: none;
}

.leaflet-tooltip {
  white-space: normal;
}

.leaflet-popup {
  border: 1px solid #0000001f;
  border-radius: 13px;
}

.leaflet-popup-content {
  word-break: break-word;
  overflow-wrap: break-word;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: none;
}

.toggle-map-btn {
  margin-bottom: 10px;
}

.id-popup-link {
  color: #0078a8;
}

.id-popup-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.__theme-dark .map-coordinates-textbox {
  background-color: var(--dark-theme-alt);
  color: var(--dark-theme-color);
  border: var(--dark-theme-border);
}

.__theme-light .map-coordinates-textbox {
  border: 1px solid #b2b2b2;
}
