@import "../../style/global.css";

.reactivesearch-date {
  margin-bottom: 25px;
}

.reactivesearch-date > div > div {
  border: none;
}

.reactivesearch-input {
  margin-bottom: 15px;
}

.reactivesearch-input > input {
  height: 30px;
  background: #ffff;
  font-size: 11px !important;
  border-radius: 5px;
}

.reactivesearch-input > h2 {
  font-size: 0.9em !important;
  font-weight: 500;
}

.reactivesearch-input > ul > li {
  font-size: 12px;
}

.reactivesearch-input > ul > li > label > span {
  padding-right: 15px;
}

.reactivesearch-input > ul > li > label::before {
  width: calc(12px + 1px);
  height: 12px;
}

.reactivesearch-input > ul > li > label::after {
  top: 9px;
  left: calc(1px + 0px / 2);
}

.reactivesearch-multilist {
  margin-bottom: 25px;
}

.filter-list {
  margin-bottom: 20px;
}

.filter-list > a {
  font-size: 11px !important;
}

.DayPickerInput-OverlayWrapper {
  font-size: 11px;
}

.DayPickerInput > input {
  padding: 8px 5px !important;
  height: 30px !important;
  font-size: 11px !important;
  border: 1px solid #cccccc !important;
  border-radius: 5px !important;
}

.__theme-dark .filter-list-wrapper > div > a {
  background-color: var(--dark-theme-alt);
  color: var(--dark-theme-color);
}

.__theme-dark .filter-list-wrapper > div > a > span {
  border: none;
}

.__theme-dark .reactivesearch-input > input {
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-color);
  border-color: var(--dark-theme-alt);
}

.__theme-dark .reactivesearch-input > div > div {
  border-color: var(--dark-theme-border);
  border: none;
}

.__theme-dark .reactivesearch-input .DayPickerInput > input,
.__theme-dark .reactivesearch-input .DayPickerInput input:focus {
  border: var(--dark-theme-border);
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-color);
  border: 1px solid var(--dark-theme-alt) !important;
}

.__theme-dark .reactivesearch-input .DayPickerInput-OverlayWrapper {
  color: black;
}

.__theme-dark .reactivesearch-input > h2 {
  color: var(--dark-theme-title);
}
